@import "variables";

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .product {
    border: 1px solid $lihghtgrey;
    width: 250px;
    text-align: center;
    padding: 15px;
    margin: 15px;

    img {
      height: 150px;
      width: 200px;
    }

    .price {
      color: $crimson;
      font-size: 2em;
      font-weight: bold;
      margin: 10px;
    }
  }
}
